form {
    margin: 50px;

    input {
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 5px;
        margin: 5px;
    }

    button {
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 5px;
        margin: 5px;
    }
}